diffusers==0.36.0
transformers==4.55.2
accelerate
einops
easydict
numpy==1.26.4
tqdm
imageio[ffmpeg]
websockets
msgpack
opencv-python
matplotlib
ftfy
safetensors
Pillow
datasets==3.6.0
huggingface_hub==0.36.2
av>=14.2.0
jsonlines
pyserial
scipy
wandb
robosuite==1.4.1
bddl
gym
cloudpickle
